<mat-toolbar color="primary">Incident overview</mat-toolbar>

<div class="table-container">
  <mat-form-field appearance="fill">
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search failures">
  </mat-form-field>

  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Event Column -->
    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let element"> {{ element.event }} </td>
    </ng-container>

    <!-- Fail Reason Column -->
    <ng-container matColumnDef="failReason">
      <th mat-header-cell *matHeaderCellDef> Reason </th>
      <td mat-cell *matCellDef="let element"> {{ element.failReason }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
